html {
  background: url(../images/bg_meseros.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  background: none;
}
#divNavCabecera{
  width: 800px;
  position: relative;
  top: 50px;
  left: 100px;
  padding-left: 50px;
  background-color: #292B2C;
}
#divNavCabecera #barraPrincipal li{
  margin-left: 10px;
}
.container{
  text-align: center;
  margin-top: 50px;
  width: 800px;
  height: 800px;
  background-color: white;
  position: absolute;
  left: 100px;
}
.container .panel{
  width: 750px;
  border: none;
  height: 750px;
}
.oculto{
  display: none;
}
#pedidoPanel{

}
.container #panelFactura{
  height: 400px;
}
