.container{
  height: 250px;
}
#pedido{
  margin-left: 50px;
  width: 300px;
  height: 100px;
  border: 1px solid #ddd;
  position: relative;
  float: left;
}
#productos{
  width: 700px;
  height: 100px;
  border: 1px solid #ddd;
  position: relative;
  float: left;
}
