.container{
  position: absolute;
  left: 100px;
}
.container .table{
  width: 120px;
  height: 120px;
  margin: 10px;
}
.container .delivery{
  width: 120px;
  height: 100px;
  margin: 10px;
}
.container table{
  margin: 0px auto;
}
.container table th{
  text-align: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.container table td{
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#divNavMesero{
  width: 800px;
  position: relative;
  top: 50px;
  left: 100px;
  padding-left: 190px;
  background-color: #292B2C;
}
